body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

.search-wrapper {
  height: 38px !important;
}

.multiselect-container span {
  background: #3c8dbc !important;
}

.multiselect-container .optionListContainer li {
  background: #fff !important;
  color: #333 !important;
}

.multiselect-container .optionListContainer .notFound {
  background: #fff !important;
  color: #333 !important;
}

.multiselect-container .optionListContainer li:hover {
  background: #3c8dbc !important;
  color: #fff !important;
}

.breadcrumb {
  display: none !important;
}

.apexcharts-selected svg {
  fill: #3c8dbc !important;
}