body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

.search-wrapper {
  height: 38px !important;
}

.multiselect-container span {
  background: #3c8dbc !important;
}

.multiselect-container .optionListContainer li {
  background: #fff !important;
  color: #333 !important;
}

.multiselect-container .optionListContainer .notFound {
  background: #fff !important;
  color: #333 !important;
}

.multiselect-container .optionListContainer li:hover {
  background: #3c8dbc !important;
  color: #fff !important;
}

.breadcrumb {
  display: none !important;
}

.apexcharts-selected svg {
  fill: #3c8dbc !important;
}

.modalWrapper {
  position: absolute !important;
  top: -600px !important;
  z-index: 999999 !important;
  left: 23% !important;
  width: 70% !important;
  -webkit-box-shadow: 0px 0px 42px 10px rgba(0,0,0,0.63) !important;
  -moz-box-shadow: 0px 0px 42px 10px rgba(0,0,0,0.63) !important;
  box-shadow: 0px 0px 42px 10px rgba(0,0,0,0.63) !important;
}

.modalWrapper .box {
  margin-bottom: 0px !important;
}

.clickable{
  cursor: pointer !important;
}

.disabled:hover {
  cursor: not-allowed;
}

.infoDisabled {
  color: rgb(221, 75, 57);
}

.apexcharts-toolbar {
  z-index: 0 !important;
}